body {
    background: lightcyan;
}

nav {
    display: flex;
    justify-content: space-around;
    background: palegoldenrod;
    height: 100px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display: flex;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

input, select {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#characterlink {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgb(76, 127, 175);
}

#deletebutton {
    width: 100px;
}

